<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "star.png" %>
	</div>

	<div id="content">
		<h1>Hey I'm Patrick Star</h1>
		<p>Welcome to Bikini Bottom </p>
		<p>I'm Patrick, and my house is a rock. Next to me, a close friend of SpongeBob lives in a pineapple house.</p>
		<p>If you come to bikini city, I'll show you my friends. <a href="https://github.com/canchos456">@canchos456</a> or on the 
		  web at <a href="https://twitter.com/?lang=en">Twitter</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="https://miinsung.tistory.com/">Tistory</a>.</p>			
	</div>
</div>